.upload {
  margin: 3% 20% 2% 20%;
  padding: 5% 7% 0% 7%;
  //background-image: linear-gradient(rgb(207 124 182/20%) 0 0);
  background-color: white;
  border: solid #835AA1 0.6rem;
  border-radius: 50px;
}

.container {
  display: grid;
  //align-items: start;
  grid-template-columns: 0.95fr 1fr;
  column-gap: 5%;
}

.block {
  height: 8vh;
  margin-top: 10%;
  margin-bottom: 10%;
}

mat-form-field {
  display: block;
  margin: 10px 0;
}

.file-input {
  display: none;
}
