<div *ngIf="animal.image$ | async as image; else loading" class="tile" [routerLink]="['/animals', animal.id]">
  <div class="animal-container">
    <div>
      <img [src]="image" class="animal-image" id="animalImage" alt="állat kép"/>
    </div>
  </div>
  <div class="animal-tile">
    <h5>{{animal.name}}</h5><hr /><h6>{{animal.city}}</h6>
  </div>
</div>

<ng-template #loading>
  <div>
    <mat-progress-spinner style="margin: 0 auto" mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
