@import '../../../src/styles.scss';

.nav-menu-align {
    display: flex;
    justify-content: center;
}

::ng-deep .matCustomize {
  background-color: white;
  border: 5px solid #835AA1;
}

.nav-item-spacer {
  flex: 1 1 auto;
}
