<header>
  <mat-toolbar color="primary">
    <button mat-icon-button [routerLink]="['/']" style="margin-left: 20%">
      <mat-icon>
        home
      </mat-icon>
    </button>
    <a mat-flat-button color="primary" [routerLink]="['animals']">
      Állatok
    </a>
    <a mat-flat-button color="primary" [routerLink]="['/animals/upload']">
      Találtam egy állatot
    </a>

    <span class="separator" style="margin-right: 20%"></span>
    <a *ngIf="!isLoggedIn" mat-flat-button color="primary" [routerLink]="['/user/login']">
      Bejelentkezés
    </a>
    <a *ngIf="!isLoggedIn" mat-flat-button color="primary" [routerLink]="['/user/register']">
      Regisztráció
    </a>

    <a *ngIf="isLoggedIn" mat-button [matMenuTriggerFor]="loggedInMenu">{{username}}</a>
    <mat-menu #loggedInMenu="matMenu" class="matCustomize" yPosition="below">
      <a mat-menu-item [routerLink]="['/user',username]">
        Profilom
      </a>
      <a style="margin-bottom: 10%"mat-menu-item [routerLink]="['/user/myaccount']">
        Beállítások
      </a>
      <hr />
      <a style="margin-top: 10%" mat-menu-item (click)="onLogout()">
        Kijelentkezés
      </a>
    </mat-menu>
    <span class="separator"></span>
  </mat-toolbar>
</header>
