<header>
  <mat-toolbar color="primary">
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon>
        home
      </mat-icon>
    </button>
    <button mat-flat-button color="primary" [routerLink]="['animals']">
      Állatok
    </button>
    <button mat-flat-button color="primary" [routerLink]="['/animals/upload']">
      Találtam egy állatot
    </button>

    <span class="nav-item-spacer"></span>

    <div>
      <button *ngIf="!isLoggedIn" mat-icon-button [matMenuTriggerFor]="loggedOutMenu">
        <mat-icon>
          account_box
        </mat-icon>
      </button>
      <mat-menu #loggedOutMenu="matMenu" class="matCustomize" yPosition="below">
        <a mat-menu-item [routerLink]="['/user/login']">
          Bejelentkezés
        </a>
        <hr />
        <a style="margin-bottom: 10%" mat-menu-item [routerLink]="['/user/register']">
          Regisztráció
        </a>
      </mat-menu>

      <button *ngIf="isLoggedIn" mat-button [matMenuTriggerFor]="loggedInMenu">{{username}}</button>
      <mat-menu #loggedInMenu="matMenu" class="matCustomize" yPosition="below">
        <button mat-menu-item [routerLink]="['/user',username]">
          Profilom
        </button>
        <button style="margin-bottom: 10%" mat-menu-item [routerLink]="['/user/myaccount']">
          Beállítások
        </button>
        <hr />
        <button style="margin-top: 10%" mat-menu-item (click)="onLogout()">
          Kijelentkezés
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>
