<div *ngIf="animal.image$ | async as image; else loading"
     class="tile horizontal-container"
     [routerLink]="['/animals', animal.id]">

  <div class="animal-image-container">
    <img [src]="image" class="animal-image" id="animalImage" alt="állat kép" />
  </div>

  <div style="display: grid; height: 100%">
    <div class="animal-tile">
      <div style="font-size: 1.4rem; color: #50487E; font-weight: 500">{{animal.name}}</div> <br />
      {{animal.breed}} {{animal.type | animalTypeConverter}}
      <hr />
    </div>
    
    <div class="animal-tile" style="margin: auto 0">
      {{animal.city}}<br />
      {{animal.status | animalStatusConverter}}, {{days}}
    </div>
  </div>
  
</div>

<ng-template #loading>
  <div>
    <mat-progress-spinner style="margin: 0 auto" mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
