<div *ngIf="animal.image$ | async as image; else loading" class="tile" [routerLink]="['/animals', animal.id]">

  <div class="animal-tile">
    <span style="font-size: 2rem; font-weight: 600; color: #835AA1; ">{{animal.name}}</span>
    <span style="font-size: 1.6rem; font-weight:400">, {{animal.city}}</span>
  </div>

  <div class="animal-container">
    <img [src]="image" class="animal-image" id="animalImage" alt="állat kép"/>
  </div>

  <div class="animal-tile">
    <div style="font-size: 1.5rem; font-weight:500">{{animal.breed}} {{animal.type | animalTypeConverter}}<br /></div>
    {{animal.status | animalStatusConverter}}, {{days}}
  </div>
</div>

<ng-template #loading>
  <div>
    <mat-progress-spinner style="margin: 0 auto" mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
