app-nav-menu {
  height: 5vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%
}

.container {
  display: flex;
  flex-flow: column;
  height: 95vh;
  padding-top: 5vh;
}

.inner-container {
  flex: 1;
  padding: 2%;
  max-width: 1400px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .inner-container {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  .inner-container {
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
  }
}
