<h1>Elveszett állatok</h1>
<hr />

<div *ngIf="animals$ | async as animals; else loading">
  <mat-list style="width: 100%;">
    <mat-list-item *ngFor="let animal of animals" style="height:400px" class="animal-tile">
      <div >
        <app-animal-thumbnail [animal]="animal"></app-animal-thumbnail>
      </div>
    </mat-list-item>
  </mat-list>
</div>
<div [hidden]="isBusy">
  <mat-paginator (page)="getData($event)"
                 [pageSize]="20"
                 [pageSizeOptions]="[10, 20, 50]"
                 showFirstLastButtons></mat-paginator>
</div>


<ng-template #loading>
  <div>
    <mat-progress-spinner style="margin: 0 auto" mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>

