.container {
  display: grid;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1.5fr;
    column-gap: 5vh;
  }
}

.tile-image-container {
  float: right;
}

.title-image {
  max-width: 100%;
  border-radius: 3%;
  float: right;
}

.lost-animals {
  border-radius: 10px;
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.tile {
  left: 0px;
}


